* {

}

form {
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}

textarea:focus,
select:focus,
#body:focus {
  border: 1px solid #33C3F0;
  outline: 0;
  height: 300px;
 }

button {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  background-color: #ff7f00;
}

a {
  text-decoration: none;
}

img {
  width: 10%;
}

#logo {
  width: 30%;
}

/*//NAV STUFF//*/
nav {
  width: 100%;
  display: inline-block;
  text-align: center;
}

nav ul {
  display: none;
}

nav li {
  display: inline;
  margin-right: 2%;
  margin-right: 2%;
}

nav i.fa.fa-navicon {
  font-size: 200%;
}

@media (min-width: 1000px) {
  /*Isaiah is driver making the nav fixed*/
  nav, nav ul, nav ul li {
    position: relative;
  }
  /*End of Isaiah driver*/
  nav ul {
    display: block;
  }
  nav i.fa.fa-navicon {
    display: none;
  }
  /*#Projects hr + div{
    margin-left: 13%;
  }*/
}

nav:hover ul {
  display: block;
}

#kata-prev{
  margin-top: 3%;
}

iframe {
  display: none;
  background-color: #dedede;
  padding: 3%;
  border-radius: 5px;
}

#notes .three {
  padding: .5em;
  cursor: pointer;
  height: 10em;
  border-radius: 5px;
  text-align: center;
  background-color: #dedede;
}

#repos .three {
  padding: .5em;
  cursor: pointer;
  height: 10em;
  border-radius: 5px;
  text-align: center;
  background-color: #dedede;
}

 #katas .three {
  cursor: pointer;
  height: 10em;
  border-radius: 5px;
  text-align: center;
  background-color: #dedede;
}

#katas .three p {
  color: #ff7f00;
}
