/*FORM STYLING*/
form {
  text-align: center;
  /*margin: 0 auto;*/
  margin-top: 5%;
}
textarea, #title, #category {
  border:1px solid black;
  width: 50%;
}
textarea:focus,
select:focus,
#body:focus {
  border: 1px solid #33C3F0;
  outline: 0;
  height: 300px;
 }

button {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  background-color: #ff7f00;
}

nav a {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #ff7f00;
  text-decoration: none;
}

/*LOGO & IMAGES*/
img {
  width: 10%;
}

#logo {
  width: 50%;
  margin-top: 5%;
  margin: auto;
}

/*//NAV STUFF//*/
nav {
  width: 100%;
  display: inline-block;
  text-align: center;
}

nav ul {
  display: none;
}

nav li {
  display: inline;
  margin-right: 2%;
  margin-right: 2%;
}

nav i.fa.fa-navicon {
  font-size: 200%;
      margin-bottom: 5%;
}

@media (min-width: 1000px) {

  #logo {
    width: 30%;
    margin: auto;
    margin-top: 5%;
  }

  nav, nav ul, nav ul li {
    position: relative;
  }

  nav ul {
    display: block;
  }
  nav i.fa.fa-navicon {
    display: none;

  }
}

nav:hover ul {
  display: block;
}


/*MAIN CONTENT STYLING*/
a {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

#kata-prev{
  margin-top: 3%;
}

iframe {
  display: none;
  background-color: #dedede;
  padding: 3%;
  border-radius: 5px;
}

#notes .three {
  padding: .5em;
  cursor: pointer;
  height: 10em;
  border-radius: 5px;
  text-align: center;
  background-color: #dedede;
}
#allNotes h4{
  color: #ff7f00;
  font-weight: bold;
}

#allNotes p {
  color:black;
}

#notes a {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #ff7f00;
  text-decoration: none;
}

#notes a:hover {
  color: black;
}

#repos .three {
  padding: .5em;
  cursor: pointer;
  height: 10em;
  border-radius: 5px;
  text-align: center;
  background-color: #dedede;
}

 #katas .three {
  padding: .5em;
  cursor: pointer;
  height: 10em;
  border-radius: 5px;
  text-align: center;
  background-color: #dedede;
}

.three h4 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10%;
}

.three a,p {
  /*margin: 0 auto;*/
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  color: #ff7f00;

}
.three{
  margin-bottom: 3%;
}
footer {
  margin-top: 5%;
  height: 50px;
  background-color: #ff7f00;
}
